.contact{
    min-height: 100vh;
}
.cont{
  display: grid;
  width: 100vw;
  min-height: 100vh;
  grid-template-columns: 1.8fr 1fr;
}
.cont .img{
  /* background: url(/lap.jpg) no-repeat center center/cover;
  background:red; */
  background-image:
            linear-gradient(90deg,
              transparent, 
              #000), url(
/lap.jpg);
background-repeat: no-repeat;
background-size: cover;
display: grid;
place-items: center;
}

.cont .img h1{
  font-size: 6rem;
  font-weight: bold;
  text-shadow: 5px 5px 5px #000;
}
.cont .form{
  display: grid;
  place-items: center;
}

@media (max-width:1000px){
  .cont .img h1{
    font-size: 3rem;
  }
}
@media (max-width:550px){
   .cont{
    grid-template-columns: 1fr;
    margin-top: 100px;

   }
   .cont .img{
    display: none;
   }
}