main{
  display: grid;
  grid-template-columns: 1fr 4fr;
  overflow-x: hidden !important;
}

.content{
    overflow: hidden !important;
    
    
}

@media (max-width:1250px){
  main{
    display: grid;
    grid-template-columns: 0fr 4fr;
    
  }
  .open{
    width: 305px !important;
  }
}